<div id="canvas_menu">
  <div><%= link_to '<<', root_path %></div>
  <div id="canvas_name"><%= @canvas.name %></div>
  <div><%= link_to '+ mind', add_mind_canva_path(@canvas), {method: 'post', remote: true} %></div>
</div>
<div id="canvas">
  <% @canvas.minds.each do |mind| %>
    <div id="mind_func_element_<%= mind.id %>">
      <%= render 'mind', mind: mind %>
      <%= render 'connect_mind', mind: mind %>
    </div>
  <% end %>
  <div id="wire">
    <%= render 'wire' %>
  </div>
</div>
