<%= link_to '<< canvas list', root_path %>
<h1><%= @canvas.name %></h1>
<%= button_to 'ADD MIND', add_mind_canva_path(@canvas), remote: true %>
<div id="canvas">
<% @canvas.minds.each do |mind| %>
  <%= render 'mind', mind: mind %>
  <%= render 'connect_mind', mind: mind %>
<% end %>
<%= render 'wire' %>
</div>
