<h1><%= @canvas.name %></h1>
<% @canvas.minds.each do |mind| %>
  <div id="mind_<%= mind.id %>" class="mind" style="position:fixed;top:<%= mind.top %>px;left:<%= mind.left %>px"><span><%= mind.name %></span></div>
<% end %>
